# settings used by cpufreq@mtwebster

Display Style, 2
Digit Type, 0
CPUs to Monitor, 0
Refresh Time, 2000
Graph Width, 4
Background, #ffffff
Low Color,#00ff00
Med Color,#ffff00
High Color,#ff0000
Text Color,#ffffff
